<h1>表单测试</h1>
<form action="/process?form=testform" method="POST" id="test" name="form">
    <div class="form-item">
        <input type="text" value="rtx名" name="rtx" />
    </div>

    <div class="form-item">
        <label for="">尺寸：</label>
        <select class="" name="size">
            <option value="">xs</option>
            <option value="">s</option>
            <option value="">m</option>
            <option value="">l</option>
        </select>
    </div>

    <div class="form-item">
        <button type="submit">提交</button>
    </div>
</form>
