{{#> base title="index"}}

    {{#*inline 'layout-body'}}

        <h1>handlebars示例</h1>

        <h2>布局模块</h2>
        <p>布局模块是所有页面的基础模块，是一个html页面的基础结构，所有页面的内容都会填充在。测试下</p>

        <h2>局部模块：无参数</h2>
        {{> header}}

        <h2>局部模块：1个参数</h2>
        {{> header
            param1="true"
        }}

        <h2>局部模块：2个参数</h2>
        {{> header
            param1="true"
            param2="true"
        }}

    {{/inline}}

{{/base}}
