{{#> base title="jquerytest"}}

    {{#*inline 'layout-head'}}
        <meta name="robots" content="noindex">
    {{/inline}}

    {{#*inline 'layout-body'}}
        <h1>test page</h1>
    {{/inline}}

    {{#*inline 'layout-jquery'}}
        <script type="text/javascript">
            var test = 0;
        </script>
    {{/inline}}

{{/base}}
