@charset "UTF-8";
/* 公用的移动端社区导航、底部，主要用于社区PC端以及社区的活动页面 */

@import url("import-m-header.css");
@import url("import-m-footer.css");

.com-header, .com-m-footer {
	display: none;
}
@media screen and (max-width: 1000px) {
	.com-responsive .c-nav .com-search-bar {
		display: none;
	}
	.com-responsive .c-nav,
	.com-responsive .qc-footer {
		min-width: 320px;
	}
}
@media screen and (max-width: 600px) {
	.com-responsive .c-nav,
	.com-responsive .qc-footer {
		display: none;
	}
	.com-responsive .com-header,.com-responsive .com-m-footer {
		display: block;
	}

	/* 设置垂直滚动条的宽度和水平滚动条的高度 */
	::-webkit-scrollbar{
	width: 4px;
	height: 0;
	}
	/* 设置滚动条的滑轨 */
	::-webkit-scrollbar-track {
		background-color: transparent;
	}

	/* 滑块 */
	::-webkit-scrollbar-thumb {
	height: 4px;
	background-color: #bfbfbf;
	border-radius: 4px;
	}

	/* 滑轨两头的监听按钮 */
	::-webkit-scrollbar-button {
	background-color: transparent;
	}

	/* 横向滚动条和纵向滚动条相交处尖角 */
	::-webkit-scrollbar-corner {
	background-color: transparent;
	}

	/* 移动端页面基础框架 start */
	.com-mobile-layout {
		position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #f2f2f2;
        overflow: hidden;
        z-index: 1;
	}
	.com-mobile-body {
		position: absolute;
        left: 0;
        right: 0;
        top: 56px;
        bottom: 50px;
        min-width: 320px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
	}
	/* 移动端页面基础框架 end */
}
