@charset "UTF-8";
.com-dialog-mask {
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: 9000;
  background-color: rgba(0,0,0,.7);
}
.com-dialog-wrap {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9001;
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	font-size: 0;
	text-align: center;
}
.com-dialog-wrap:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}
.com-dialog-wrap .com-dialog {
	position: relative;
	left: 0;
	top: 0;
	transform: translate(0, 0);
	display: inline-block;
	vertical-align: middle;
}
.com-dialog {
  width: 80%;
  max-width: 600px;
  min-width: 280px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  z-index: 9001;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}
.com-dialogView {
  position: relative;
  left: 0;
  transform: translate(0, 0)
}
.com-dialog-bd {
  text-align: center;
  box-sizing: border-box;
  padding:  15px;
  font-size: 14px;
}
.com-dialog-ft {
  display: -webkit-box;
  box-sizing: border-box;
  -webkit-box-align: center;
}
.com-dialog-btn {
  position: relative;
  box-sizing: border-box;
  outline: 0;
  display: inline-block;
  width: 100%;
  border-width: 0;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  color: #666;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.com-dialog-btn-primary {
  color: #00a4ff;
}
.com-dialog-btn-primary:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  border-left: 1px solid #ebebeb;
  -webkit-transform: scaleX(.5);
  transform: scaleX(.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* .com-btn-border-left{
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: #ebebeb;
} */
.com-dialog-title {
  font-size: 18px;
  color: #000;
  padding: 10px 0;
}
.com-dialog-text {
  font-size: 15px;
  color: #666;
  line-height: 1.5;
  word-wrap: break-word;
}
.com-dialog-ft {
  border-style: solid;
  border-width: 1px 0 0;
  border-color: #ebebeb;
}
.com-dialog-ft .com-dialog-btn {
  display: block;
  -webkit-box-flex: 1;
}

.com-dialog-b {
  position: fixed;
  z-index: 9001;
  left: 0; right: 0; bottom: 0;
  background-color: #fff;
  box-sizing: border-box;
}
.com-dialog-b-hd {
  text-align: left;
  box-sizing: border-box;

  height: 56px;
  line-height: 18px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.com-dialog-b-title {
  font-size: 13px;
  color: #9a9a9a;
  /* height: 36px;
  line-height: 18px; */
  padding: 0 15px;
  box-sizing: border-box;
  font-weight: 400;
  position: absolute;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  width: 100%;
  top: 50%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  overflow: hidden;
}

.com-dialog-b-bd {
  padding: 0;
  background-color: #f2f2f2;
  overflow: hidden;
}
.com-dropdown .com-dialog-b-hd {
  position: absolute;
  left: 0; right: 0; top: 0;
  height: 44px;
  line-height: 44px;
  padding: 0;
  box-sizing: border-box;
}
.com-dropdown .com-dialog-b-title {
  height: 44px;
  line-height: 44px;

}
.com-dialog-b .com-tags-list {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding: 0 15px;
  background-color: #fff;
}
.com-dialog-b .com-tags-list li {
  font-size: 0;
  height: 44px;
  line-height: 44px;
  box-sizing: border-box;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0 0;
  position: relative;
}
.com-dialog-b .com-tags-list li:first-of-type {
  border: none;
}
.com-dialog-b .com-tags-list li.current:after {
  display: block;
  content: "";
  width: 14px; height:  10px;
  position: absolute;
  right: 20px; top: 50%;
  transform: translate(0, -50%);
  /* background-color: #212121; */
  background-image: url(./img/slice/icon-checked.svg);
}
.com-dialog-b .com-tags-list .com-tag-title {
  font-size: 15px;
  color: #373737;
}
.com-dialog-b .com-tags-list .com-tag-count {
  font-size: 13px;
  color: #9a9a9a;
  padding-left: 10px;
}

.com-dialog-b-ft {
  border-style: solid;
  border-width: 1px 0 0;
  border-color: #ebebeb;
}

.com-dialog-b-ft .com-dialog-btn {
  display: block;
  -webkit-box-flex: 1;
}
.com-dialog-b-bd .com-dialog-btn {
  display: block;
  -webkit-box-flex: 1;
}

.com-dialog-b-text {
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}
.com-dialog-b-text p {
  color: #666;
  font-size: 14px;
}

.com-dialog-b-ft-v .com-dialog-b-ft {
  background-color: #f4f4f4;
}

.com-dialog-b-ft-v .com-dialog-b-ft .com-dialog-btn {
  color: #000;
  margin-bottom: 5px;
  /* border-style: solid;
  border-color: #ebebeb;
  border-width: 0 0 1px; */
}
.com-dialog-b-ft-v .com-dialog-b-ft .com-dialog-btn:last-of-type {
  margin-bottom: 0;
  /* border-width: 0; */
}

.com-dialog-btn-warning {
  color: #e64340;
}
.com-dialog-b-ft-v .com-dialog-b-ft .com-dialog-btn-warning {
  color: #e64340;
}
.com-dialog-b-bd .com-dialog-btn-warning {
  color: #e64340;
}
.com-dropdown {
  height: 360px;
  padding: 44px 0 48px;
}
.com-dropdown .com-dialog-b-bd {
  position: absolute;
  left: 0; right: 0; top: 44px; bottom: 48px;
}
.com-dropdown .com-dialog-b-ft {
  position: absolute;
  left: 0; right: 0; bottom: 0;
}

.com-dialog-b-bd .com-dialog-btn {
  border-bottom: 1px solid #ebebeb;
}
.com-dialog-b-bd .com-dialog-btn:last-of-type {
  margin-bottom: 5px;
}
.com-btn-active {
  background-color: #f2f2f2;
}
.com-dialog-btn:active,.com-dialog-btn:active {
  background-color: #f2f2f2;
}

/* 申请加入专栏 start */
.com-modal-join-column {
	text-align: left;
	color: #666;
}
.com-modal-join-column .slogan {
	margin-bottom: 20px;
	color: #000;
}
.com-modal-join-column .join-form-item {
	margin-bottom: 5px;
}
.com-modal-join-column .join-form-item-title {
	display: inline;
}
.com-modal-join-column .join-form-item-cnt {
	display: inline;
	color: #333;
}
.com-modal-join-column .join-desc {
	margin-top: 20px;
}
.com-modal-join-column .join-desc .join-form-item-title {
	display: block;
	margin-bottom: 10px;
	color: #333;
}
.com-modal-join-column .join-desc .join-form-item-cnt {
	display: block;
}
/* 申请加入专栏 end */
