@charset "UTF-8";

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #f2f2f2;
  overflow: hidden;
  -webkit-font-smoothing: auto;
  -webkit-tap-highlight-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
}
a {
    color: #00a4ff;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}
button,
input,
textarea,
select {
    -webkit-tap-highlight-color:transparent;
    color: #333;
}
:focus {
    outline: none;
}


/* 常用间距 start */
.mb20 {
    margin-bottom: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
.ml10 {
    margin-left: 10px;
}
.mr10 {
    margin-right: 10px;
}
/* 常用间距 end */

/* 文字颜色 start */
.com-text-info {
    color: #888;
}
.com-text-warning {
    color: #f27a18;
}
.com-text-price {
    color: #f77d4f;
}
.com-text-error {
    color: #e54545;
}
.com-text-success {
    color: #06c290;
}
.com-text-highlight {
    color: #ff7200;
}
/* 文字颜色 end */

/* 文字排版 start */
.com-text-start {
    text-align: left !important;
}
.com-text-center {
    text-align: center !important;
}
.com-text-end {
    text-align: right !important;
}
/* 文字调整，文字少时居中显示，文字多时居左显示 */
.com-text-just {
    text-align: center;
}
.com-text-just > .text {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
/* 文字排版 end */

/* 按钮 start */
[class^="com-icon-"],
[class*=" com-icon-"] {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.com-icon-msg,
.com-icon-letter,
.com-icon-follow,
.com-icon-favor,
.com-icon-grow,
.com-icon-set,
.com-icon-login,
.com-icon-location,
.com-icon-job,
.com-icon-education,
.com-icon-website,
.com-icon-skill,
.com-icon-verify,
.com-icon-action,
.com-icon-article,
.com-icon-ask,
.com-icon-lab,
.com-icon-undefined,
.com-icon-null {
  display: none;
	background-color: #666;
}
/* 按钮 end */

/* 链接 start */
.com-weak-link {
    color: #888;
}
a.com-weak-link:active {
    color: #00a4ff;
    text-decoration: none;
}
.com-weak-link [class^='com-i-'],
.com-weak-link [class*=' com-i-'] {
    margin-right: 8px;
    position: relative;
    top: -1px;
}

.com-weak-link .com-i-dialog {
    background-image: url('img/slice/icons/icon-dialog.svg?fill=#888');
}
a.com-weak-link:active .com-i-dialog {
    background-image: url('img/slice/icons/icon-dialog.svg?fill=#00a4ff');
}
.com-weak-link .com-i-bookmark {
    background-image: url('img/slice/icons/icon-bookmark.svg?fill=#888');
}
a.com-weak-link:active .com-i-bookmark {
    background-image: url('img/slice/icons/icon-bookmark.svg?fill=#00a4ff');
}
.com-weak-link .com-i-support {
    top: -2px;
    background-image: url('img/slice/icons/icon-support.svg?fill=#888');
}
a.com-weak-link:active .com-i-support {
    background-image: url('img/slice/icons/icon-support.svg?fill=#00a4ff');
}
.com-weak-link .com-i-edit {
    background-image: url('img/slice/icons/icon-edit.svg');
}
a.com-weak-link:active .com-i-edit {
    background-image: url('img/slice/icons/icon-edit.svg?fill=#00a4ff');
}
.com-weak-link .com-i-delete {
    background-image: url('img/slice/icons/icon-delete.svg?fill=#888');
}
a.com-weak-link:active .com-i-delete {
    background-image: url('img/slice/icons/icon-delete.svg?fill=#00a4ff');
}
.com-weak-link .com-i-follow {
    background-image: url('img/slice/icons/icon-follow.svg?fill=#888');
}
a.com-weak-link:active .com-i-follow {
    background-image: url('img/slice/icons/icon-follow.svg?fill=#00a4ff');
}
.com-weak-link .com-i-adopt {
    background-image: url('img/slice/icons/icon-adopt.svg?fill=#888');
}
a.com-weak-link:active .com-i-adopt {
    background-image: url('img/slice/icons/icon-adopt-blue.svg');
}

a.com-weak-link.actived {
    color: #00a4ff;
}
a.com-weak-link.actived .com-i-bookmark,
a.com-weak-link.actived:active .com-i-bookmark {
    background-image: url('img/slice/icons/icon-bookmark-full.svg?fill=#00a4ff');
}
a.com-weak-link.actived .com-i-support,
a.com-weak-link.actived:active .com-i-support {
    background-image: url('img/slice/icons/icon-support-full.svg?fill=#00a4ff');
}
a.com-weak-link.actived .com-i-follow,
a.com-weak-link.actived:active .com-i-follow {
    background-image: url('img/slice/icons/icon-followed.svg?fill=#00a4ff');
}
a.com-weak-link.actived .com-i-adopt,
a.com-weak-link.actived:active .com-i-adopt {
    background-image: url('img/slice/icons/icon-adopt-blue.svg');
}
/* 链接 end */

/* 图标 start */
[class*=" com-i-"],
[class^="com-i-"] {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-size: 100% auto;
}
.com-i-add-s {
    width: 12px;
    height: 12px;
    background-image: url('img/slice/icons/icon-add-s.png');
}
.com-i-edit {
    background-image: url('img/slice/icons/icon-edit.svg');
}
.com-i-edit-blue {
    background-image: url('img/slice/icons/icon-edit.svg?fill=#00a4ff');
}
.com-i-dialog {
    background-image: url('img/slice/icons/icon-dialog.svg?fill=#444');
}
.com-i-location {
    background-image: url('img/slice/icons/icon-location.svg?fill=#444');
}
.com-i-business {
    background-image: url('img/slice/icons/icon-business.svg?fill=#444');
}
.com-i-person {
    background-image: url('img/slice/icons/icon-person.svg?fill=#444');
}
.com-i-focus-me {
    background-image: url('img/slice/icons/icon-focus-me.svg?fill=#444');
}
.com-i-focus-others {
    background-image: url('img/slice/icons/icon-focus-others.svg?fill=#444');
}
.com-i-tag {
    width: 11px;
    height: 11px;
    background-image: url('img/slice/icons/icon-tag.svg');
}
.com-i-support {
    background-image: url('img/slice/icons/icon-support.svg?fill=#444');
}
.com-i-bookmark {
    background-image: url('img/slice/icons/icon-bookmark.svg?fill=#444');
}
.com-i-male {
    width: 12px;
    height: 12px;
    background-image: url('img/slice/icons/icon-male.svg');
}
.com-i-female {
    width: 12px;
    height: 12px;
    background-image: url('img/slice/icons/icon-female.svg');
}
.com-i-more {
    width: 30px;
    height: 30px;
    background-image: url('img/slice/icons/icon-more.svg?fill=#444');
}
.com-i-delete {
    background-image: url('img/slice/icons/icon-delete.svg?fill=#444');
}
.com-i-close {
    background-image: url('img/slice/icons/icon-close.svg?fill=#444');
}
.com-i-read {
    background-image: url('img/slice/icons/icon-read.svg?fill=#444');
}
.com-i-follow {
    background-image: url('img/slice/icons/icon-follow.svg?fill=#444');
}
/* 图标 end */

/* loading动画 start */
.com-ani-loading {
    text-align: center;
}
.com-ani-loading > div {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #00a4ff;
    -webkit-animation: bouncedelay .7s infinite ease-in-out both;
    animation: bouncedelay .7s infinite ease-in-out both;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
}
.com-ani-loading .one {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s;
}
.com-ani-loading .two {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
}
@-webkit-keyframes bouncedelay {
    0%, 100%, 80% {
        -webkit-transform: scale(.5);
        opacity: 1;
    }
    40% {
        -webkit-transform: scale(1);
        opacity: .8;
    }
}
@keyframes bouncedelay {
    0%, 100%, 80% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        opacity: 1;
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: .8;
    }
}
/* loading动画 end */

/* 视觉隐藏，屏幕阅读器可见 start */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
/* 视觉隐藏，屏幕阅读器可见 end */

.break-word {
    word-break: break-all;
}

.com-main {
  position: absolute;
  left: 0;
  right: 0;
  top: 102px;
  bottom: 50px;
  min-width: 320px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.com-main-simple {
  top: 56px;
}
.com-module {
  margin-top: 10px;
}
.com-module-head {
  box-sizing: border-box;
  background-color: #fff;
  text-align: left;
  position: relative;
  background-color: #f7f8fa;
  height: 48px;
  line-height: 48px;
  padding: 0 15px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.com-home-module .com-module-head {
  height: 65px;
  line-height: 65px;
  border: none;
  display: block;
  -ms-flex-pack: initial;
  justify-content: initial;
}
.com-module-title {
  color: #666;
  font-size: 14px;
  font-weight: normal;
  color: #666;
  text-align: left;
}
.com-home-module .com-module-title {
  color: #666;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.com-article-hd .com-module-title{
  font-size: 14px;
  color: #666;
}
.com-article-hd {
  background-color: #f7f8fa;
}

/* .com-home {
  background-color: #f4f4f4;
} */

/* 设置垂直滚动条的宽度和水平滚动条的高度 */
::-webkit-scrollbar{
  width: 4px;
  height: 0;
}

/* 设置滚动条的滑轨 */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* 滑块 */
::-webkit-scrollbar-thumb {
  height: 4px;
  background-color: #bfbfbf;
  border-radius: 4px;
}

/* 滑轨两头的监听按钮 */
::-webkit-scrollbar-button {
  background-color: transparent;
}

/* 横向滚动条和纵向滚动条相交处尖角 */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.com-global {
  /* background-color: #f2f2f2; */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
  z-index: 1;
}

.com-home-module .com-module-head {
  background-color: #fff;

}

.com-main .qa-tab-hd {
  position: fixed;
  left: 0; top: 56px; right: 0;
  z-index: 8;
}
.com-search-results-main {
  top: 102px;
  bottom: 0;
}

.com-link {
	color: #00a4ff;
}
.com-break-word {
  word-break: break-all;
}

.com-error {
	color: #E54545;
}
.com-weak-text {
	color: #666;
}
.com-align-right {
	text-align: right;
}
.com-white-style-module .com-module-head {
  background-color: #fff;
  color: #000;
}
.com-white-style-module .com-module-content{
    padding: 1px 0;
  background-color: #fff;
}
.com-main-simple-sec {
  top: 56px;
  bottom: 0;
}
.com-article-main {
  padding: 15px 20px;
  background-color: #fff;
}
.com-wx-main {
  padding: 0
}
.com-cell-ft {
  padding: 20px 0;
}

.com-btn {
  position: relative;
  outline: 0;
  display: inline-block;
  width: 100%;
  border-width: 0;
  cursor: pointer;
  text-align: center;
  box-shadow: initial;
  vertical-align: middle;
  -webkit-user-select: none;
  border-color: #ddd;
  border-radius: 0px;
  color: #fff;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  background-color: transparent;
}
.com-btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  border: 1px solid;
  border-color: inherit;
  box-sizing: border-box;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 0 0;
}
.com-btn.com-btn-primary {
  color: #fff;
  border-color: #00a4ff;
  background-color: #00a4ff;
}

.com-no-content {
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #ddd;
  margin: 15px 0;
}
.com-no-content-simple {
  border-top: none;
  margin: 0;
}
.com-no-content-image {
  width: 80px; height: 80px;
  margin: 10px auto;
  background-image: url(./img/slice/remind.svg);
}
.com-no-content-title {
  display: block;
  font-size: 18px;
  color: #999;
  padding: 10px 0 5px;
  font-weight: 400;
}
.com-no-content-desc {
  display: block;
  font-size: 14px;
  color: #999;
  padding: 0 0 15px 0;
}
.page-404 {
  background-color: #fff;
}
.com-no-404 {
  font-size: 48px;
  color: #999;
  padding: 5px 0 0;
}
.com-no-content .com-btn {
  margin-top: 10px;
}

.com-dynamic-module {
  padding: 10px 15px;
}
.com-dynamic-qa-list {
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  padding: 10px 60px 10px 0;
  position: relative;
  display: table;
  table-layout: fixed;
}
.com-dynamic-qa-list .com-qa-operations {
  right: 0;
}


/* 官网公用提示改写 start */
.c-msg {
  position: fixed;
  left: 0;
  top: 56px;
  z-index: 9001;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.c-msg-info {
  display: inline-block;
  padding: 10px 15px;
  max-width: 100%;
  font-size: 14px;
  text-align: left;
}
.c-msg:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  height: 1px;
  border-bottom: 1px solid transparent;
}

.c-msg-success {
  background-color: #E6F8EE;
  color: #007E3B;
}
.c-msg-success:after {
  border-bottom-color: #9CE4BC;
}

.c-msg-error {
  background-color: #fcecec;
  color: #b43537;
}
.c-msg-error:after {
  border-bottom-color: #f6b5b5;
}
/* 官网公用提示改写 end */
/* 信息提示 start */
.c-msg-fixed-wrap {
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 9001;
  width: 100%;
  text-align: center;
  pointer-events: none;
}
.c-msg-fixed-wrap .c-msg {
  display: inline-block;
  vertical-align: middle;
  max-width: 80%;
  text-align: left;
  pointer-events: auto;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* 信息提示 end */

.com-main-bc-gray {
  background-color: #f2f2f2;
}

.com-btn:active {
  background-color:  #fff;
  color: #333;
}
.com-btn-primary:active {
  background-color:  #0092ee;
  color: #fff;
}
a, a:hover,a:active,a:visited {
  text-decoration: none;
}

.com-main-sec {
  top: 102px;
  bottom: 0;
}
.com-column-btns {
  display: -webkit-box;
  display: flex;
}
.com-column-btns .com-btn {
	-webkit-box-flex: 1;
	flex: 1;
	margin-left: 20px;
}
.com-column-btns .com-btn:first-child {
	margin-left: 0;
}
.c-loading-tip {
  font-size: 14px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button,input,textarea,select {
  outline: none;
}

.com-no-content .com-btn {
  background-color: transparent;
  border: none;
  color: #00a4ff;
  padding: 0;
  margin: 0;
  height: auto; line-height: normal;
}
.com-no-content .com-btn:after {
  display: none;
}
.c-loading a {
  text-decoration: none;
}
.com-hotuser-follow.disabled {
  border-color: #ddd;
  background: #f2f2f2;
  color: #bbb;
}
.com-of-scroll {
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

.com-main-simple .com-home-module:last-of-type {
  padding-bottom: 10px;
}

.com-back2top {
  position: fixed;
  z-index: 99;
  right: 8px;
  bottom: 15px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #e0e3e7;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(227,229,233,.25);
}
.com-back2top:before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: 50%;
  margin-top: -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 8px;
  border-color: transparent transparent #666;
}
.com-back2top:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: 50%;
  margin-top: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 8px;
  border-color: transparent transparent #fff;
}

/* 认证标识 start */
.com-verification {
    position: relative;
	top: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    font-size: 0;
    margin-left: 5px;
    vertical-align: middle;
    margin-top: -1px;
	line-height: 12px;
}
.com-verification.vertical-baseline {
    vertical-align: baseline;
}
.com-verification .verified {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('img/slice/icon-verified.svg');
}

.com-verification > a:hover {
	position: relative;
	z-index: 901;
}
/* 认证标识 end */

/* 徽章 start */
.com-emblem-list {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}
.com-emblem-list > li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.com-emblem-list > li:last-child {
	margin-right: 0;
}

.com-emblem-icon {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
.com-emblem-icon.translate {
	background-image: url('img/slice/emblem-translate-blue.svg');
}
.com-emblem-icon.article {
	background-image: url('img/slice/emblem-article-blue.svg');
}
.com-emblem-icon.column {
	background-image: url('img/slice/emblem-column-blue.svg');
}

.com-emblem.disabled .com-emblem-icon.translate {
	background-image: url('img/slice/emblem-translate.svg');
}
.com-emblem.disabled .com-emblem-icon.article {
	background-image: url('img/slice/emblem-article.svg');
}
.com-emblem.disabled .com-emblem-icon.column {
	background-image: url('img/slice/emblem-column.svg');
}
/* 徽章 end */

/* 子页面布局 end */
.com-sub-section {
	margin-bottom: 22px;
}
.com-sub-section .section-title {
	margin-bottom: 12px;
	font-size: 12px;
	font-weight: normal;
}
/* 子页面布局 end */

/* 筛选工具 start */
.com-filter-toolbar {
    padding: 0 15px;
    line-height: 40px;
}

.com-filter-toolbar:before,
.com-filter-toolbar:after {
    content: '';
    display: table;
    clear: both;
}
.com-filter-toolbar .toolbar-main {
    float: left;
}
.com-filter-toolbar .toolbar-extra {
    float: right;
}
.com-filter-toolbar .toolbar-extra .more {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
}

.com-filter-toolbar .toolbar-title {
    color: #000;
    font-size: 12px;
    font-weight: normal;
}
.com-filter-toolbar .c-bubble.c-bubble-top {
    text-align: right;
    left: auto;
    right: 0;
    margin-top: 0;
}
.com-filter-toolbar .c-bubble.c-bubble-top .c-bubble-inner {
    left: auto;
    right: 10px;
}
.com-filter-toolbar .c-bubble-trigger-btn {
    padding-right: 13px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
}
.com-filter-toolbar .c-bubble-trigger-btn:after {
    right: 0;
    margin-top: -2px;
    width: 9px;
    height: 5px;
    background-image: url('img/slice/icon-arrow-small-bottom.svg?fill=#444');
}
.com-filter-toolbar .c-bubble-trigger.show-bubble .c-bubble-trigger-btn:after {
    background-image: url('img/slice/icon-arrow-small-bottom.svg?fill=#00a4ff');
}
.com-filter-toolbar .com-dropdown-menu {
    text-align: center;
}
/* 筛选工具 end */
