<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>test site</title>
    </head>
    <body>
        <header><img src="/img/avatar.svg" alt=""></header>
        {{{body}}}
    </body>
</html>
