@charset "UTF-8";

body {
  
  /* width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  background-color: #f2f2f2;
  overflow: hidden;
  -webkit-font-smoothing: auto;
  -webkit-tap-highlight-color: transparent; */
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  background-color: #f2f2f2;
  overflow: initial;
  -webkit-font-smoothing: auto;
  -webkit-tap-highlight-color: transparent;
}
.main {
  padding: 102px 0 50px;
}
.com-main {
  padding: 102px 0 50px;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  /* position: absolute;
  left: 0;
  right: 0;
  top: 102px;
  bottom: 50px;
  min-width: 320px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1; */
}
.column-home-main {
  /* top: 56px; */
  padding: 56px 0 50px;
}
.com-main-simple {
  /* top: 56px; */
  padding: 56px 0 50px;
}
.com-module {
  margin-top: 10px;
  /* margin-bottom: 15px; */
}
.com-module-head {
  box-sizing: border-box;
  background-color: #fff;
  text-align: left;
  position: relative;
  background-color: #f7f8fa;
  height: 48px;
  line-height: 48px;
  padding: 0 15px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.home-module .com-module-head {
  height: 65px;
  line-height: 65px;
  border: none;
  display: block;
  -ms-flex-pack: initial;
  justify-content: initial;
}
.com-module-title {
  color: #666;
  font-size: 14px;
  color: #666;
  text-align: left;
}
.home-module .com-module-title {
  color: #666;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.com-article-hd .com-module-title{
  font-size: 14px;
  color: #666;
}
.com-article-hd {
  background-color: #f7f8fa;
}
.com-module-content {
  /* padding: 0px 15px; */
}

.com-home {
  background-color: #f4f4f4;
}
/* 滚动条样式 start */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-track { /* 滚动条背景 */

}

::-webkit-scrollbar-thumb {
  height: 4px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: #ddd;
  background-clip: padding-box;
}
.global {
  background-color: #f2f2f2;
  /* position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
  z-index: 1; */
}
.popup-panel {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
  z-index: 10;
}
/* .com-home .header {
  position: fixed;
  left: 0; top: 0; right: 0;
  z-index: 6;
}
.com-home .top-menu {
  position: fixed;
  left: 0; top: 56px; right: 0;
  z-index: 6;
} */

/* .com-home .main {
  padding: 102px 0 50px;
} */

.home-module .com-module-head {
  background-color: #fff;

}

.com-main .qa-tab-hd {
  position: fixed;
  left: 0; top: 56px; right: 0;
  z-index: 8;
}
.search-results-main {
  padding: 102px 0 0;
  /* top: 102px;
  bottom: 0; */
}

.com-link {
	color: #00a4ff;
}
.com-break-word {
  /* word-wrap: break-word; */
  word-break: break-all;
}

.com-error {
	color: #E54545;
}
.com-weak-text {
	color: #666;
}
.com-align-right {
	text-align: right;
}
.white-style-module .com-module-head {
  background-color: #fff;
  color: #000;
}
.white-style-module .com-module-content{
  background-color: #fff;
}
.com-main-simple-sec {
  padding: 56px 0 0;
  /* top: 56px;
  bottom: 0; */
  /* background-color: #f2f2f2; */
}
.com-article-main {
  padding: 15px 20px;
  background-color: #fff;
}
.com-wx-main {
  padding: 0
}
.com-cell-ft {
  padding: 20px 0;
}

.com-btn {
  position: relative;
  outline: 0;
  display: inline-block;
  width: 100%;
  border-width: 0;
  cursor: pointer;
  text-align: center;
  box-shadow: initial;
  vertical-align: middle;
  -webkit-user-select: none;
  border-color: #ddd;
  border-radius: 0px;
  color: #fff;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  background-color: transparent;
}
.com-btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  border: 1px solid;
  border-color: inherit;
  box-sizing: border-box;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 0 0;
}
.com-btn.com-btn-primary {
  color: #fff;
  border-color: #00a4ff;
  background-color: #00a4ff;
}

.com-no-content {
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #ddd;
  margin: 15px 0;
}
.com-no-content-simple {
  border-top: none;
  margin: 0;
}
.com-no-content-image {
  width: 80px; height: 80px;
  margin: 10px auto;
  background-image: url(./img/slice/remind.svg);
  /* background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%; */
}
.com-no-content-title {
  display: block;
  font-size: 18px;
  color: #999;
  padding: 10px 0 5px;
  font-weight: 400;
}
.com-no-content-desc {
  display: block;
  font-size: 14px;
  color: #999;
  padding: 0 0 15px 0;
}
.page-404 {
  background-color: #fff;
}
.com-no-404 {
  font-size: 48px;
  color: #999;
  padding: 5px 0 0;
}
.header-extra-back {
  position: absolute;
  left: 20px;
  top: 0;
}
.header .header-extra-back a {
  color: #00a4ff;
  font-size: 14px;
}
.com-no-content .com-btn {
  margin-top: 10px;
}

.com-dynamic-module {
  padding: 10px 15px;
}
.com-dynamic-qa-list {
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  padding: 10px 60px 10px 0;
  position: relative;
  display: table;
  table-layout: fixed;
}
.com-dynamic-qa-list .com-qa-operations {
  right: 0;
}


/* 官网公用提示改写 start */
.c-msg {
  position: fixed;
  left: 0;
  top: 56px;
  z-index: 9001;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.c-msg-info {
  display: inline-block;
  padding: 10px 15px;
  max-width: 100%;
  font-size: 14px;
  text-align: left;
}
.c-msg:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  height: 1px;
  border-bottom: 1px solid transparent;
}

.c-msg-success {
  background-color: #E6F8EE;
  color: #007E3B;
}
.c-msg-success:after {
  border-bottom-color: #9CE4BC;
}

.c-msg-error {
  background-color: #fcecec;
  color: #b43537;
}
.c-msg-error:after {
  border-bottom-color: #f6b5b5;
}
/* 官网公用提示改写 end */
/* 信息提示 start */
.c-msg-fixed-wrap {
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 9001;
  width: 100%;
  text-align: center;
  pointer-events: none;
}
.c-msg-fixed-wrap .c-msg {
  display: inline-block;
  vertical-align: middle;
  max-width: 80%;
  text-align: left;
  pointer-events: auto;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* 信息提示 end */

.com-main-bc-gray {
  background-color: #f2f2f2;
}

.com-btn:hover {
  background-color:  #fff;
}
.com-btn-primary:hover {
  background-color:  #006fff;
}
a, a:hover,a:active,a:visited {
  text-decoration: none;
}

.com-main-sec {
  /* top: 102px;
  bottom: 0; */
  padding: 102px 0 0;
}
.column-btns {
  padding: 0 80px;
}
.c-loading-tip {
  font-size: 14px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button,input,textarea,select {
  outline: none;
}

.com-no-content .com-btn {
  background-color: transparent;
  border: none;
  color: #00a4ff;
  padding: 0;
  margin: 0;
  height: auto; line-height: normal;
}
.com-no-content .com-btn:after {
  display: none;
}
.c-loading a {
  text-decoration: none;
}
button.disabled {
  border-color: #ddd;
  background: #f2f2f2;
  color: #bbb;
}
/* 
.com-article-content .c-markdown pre {
  word-break: break-all;
  word-wrap: break-word;
  display: block;
  box-sizing: border-box;
  white-space: pre;
} */

.com-of-hide {
  overflow: hidden;
}
.com-of-scroll {
  min-height: 101%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.hack{
  min-height: 101%;
  z-index: 1;
}