@charset "UTF-8";

/*
问答合并社区阶段，用于新需求新增样式的文件
*/

.column-btns .com-btn {
    border: 1px solid #fff;
    line-height: 42px;
}
.column-btns .com-btn-primary {
    border: none;
    line-height: 44px;
}
.column-btns .com-btn:after {
    display: none;
}
