@charset "UTF-8";
.com-article-mate {
  min-height: 24px;
  margin: 0 0 15px;
  padding: 0 54px 0 24px;
  position: relative;
  font-size: 10px;
  overflow: hidden;
}
.com-author-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  background-color: #212121;
  background-size: cover;
  background-position: center;
}
.com-article-mate .com-author-avatar {
  position: absolute;
  left: 0;
  top: 50%;
  margin: -12px 0 0 0;
}
.com-author-avatar img {
  width: 100%;
  border-radius: 100%;
}
.com-article-mate-extra {
  position: absolute;
  right: 0;
  top: 0px;
}
.com-read-count {
  margin-left: 2px;
  font-size: 14px;
}
.com-read-count::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
  width: 16px; height: 16px;
  background-image: url(./img/slice/icon-view.svg);
}
.com-article-base-info {
  padding: 2px 0 0 10px;
  color: #666;
  line-height: 1.5;
}
.com-article-base-info span,
.com-article-base-info > a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.com-article-base-info span + .com-verification,
.com-article-base-info > a + .com-verification {
    margin-top: 0;
	margin-left: 0;
	margin-right: 5px;
}
.com-article-base-info .com-emblem-list {
    margin-right: 5px;
}
.com-author-name {
  display: inline-block;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 120px;
  color: #666;
  margin-right: 5px;
}
.com-column-name {
  display: inline-block;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 100%;
  color: #666;
  margin: 0;
}
.com-article-mate-extra {
  color: #666;
  font-size: 0;
}

.com-article-title {
  font-size: 24px;
  line-height: 1.3;
  color: #000;
  margin-bottom: 20px;
  word-wrap: break-word;
}
.com-article-title .com-lang-icon {
	margin-right: 5px;
	vertical-align: -3px;
}

.com-article-statement {
  padding: 10px 0;
  /* word-wrap: break-word; */
  word-break: break-all;
}
.com-article-statement p {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
}
.com-article-tags {
  padding:  10px 0;
  font-size: 0;
}
.com-article-tags-item {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  color: #000;
  border-radius: 15px;
  background-color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ebebeb;
}
.com-column-about {
  border-style: solid;
  border-width: 1px 0;
  border-color: #d9d9d9;
  padding: 10px 0;
  margin: 10px 0;
  word-wrap: break-word;

}
.com-column-from {
  color: #666;
  font-size: 14px;
}
.com-column-from a {
  color: #666;
  margin-left: 5px;
}
.com-column-desc {
  padding-top: 5px;
  color: #666;
  padding-right: 50px;
  position: relative;
  font-size: 12px;
}

.com-column-desc:after {
  content: "";
  display: block;
  position: absolute;
  right: 15px;top: 5px;
  width: 9px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(./img/slice/icon-next.svg);
  /* background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%; */
}
.com-article-extra {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.com-support {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 4px 15px 6px;
  height: 30px;
  line-height: normal;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #dbdbdb;
  border-radius: 15px;
  font-size: 14px;
  color: #fff;
  border-color: #00a4ff;
  background-color: #00a4ff;
}
.com-supported {
  color: #000;
  border-color: #ebebeb;
  background-color: #f1f1f1;
}
.com-support-icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px; height: 16px;
  margin-right: 5px;
  background-image: url(./img/slice/icon-like.svg);
}
.com-supported .com-support-icon {
  background-image: url(./img/slice/icon-like-full.svg);
}
.com-support-count {
  vertical-align: middle;
}
.com-article-extra-operations {
  /* padding: 6px 0 0 0; */
}
.com-article-extra-operations a {
  color: #333;
  font-size: 14px;
  margin-left: 10px;
  vertical-align: middle;
  display: inline-block;
}
.com-link-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
.com-link-share-icon {
  background-image: url(./img/slice/icon-share.svg);
}
.com-link-report-icon {
  background-image: url(./img/slice/icon-report.svg);
}
.com-link-more-icon {
  background-image: url(./img/slice/icon-more.svg);
}
.com-article-related .com-article-list {
  border-width: 0;
  margin-top: 0;
}
.com-no-comments {
  padding: 20px 0 10px;
  text-align: center;
}

.com-article-posted-time {
  padding: 10px 0;
  word-break: break-all;
  font-size: 0;
  color: #999;
}
.com-article-posted-time p {
  font-size: 14px;
}
.com-article-posted-time .com-posted-time {
  margin-left: 10px;
}

/* 内容推荐 start */
.com-article-list-recommend {
	margin-bottom: 20px;
}
.com-article-list-recommend .com-module-content {
	padding: 15px;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	background-color: #fff;
}
.com-article-list-recommend .com-disorder-list {
	margin: 0 -15px -15px;
}
.com-article-list-recommend .com-disorder-list > li:last-child {
	border-bottom: none;
}

.com-article-list-recommend .com-list-trigger {
    margin: 15px -15px -15px;
}
.com-list-trigger {
    display: block;
    border-top: 1px solid #e5e5e5;
    font-size: 16px;
    line-height: 55px;
    color: #999;
    text-align: center;
}
.com-list-trigger:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    background-image: url(./img/more-icon.png);
    background-size: 100% auto;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,
    -webkit-transform .3s;
}

.com-list-trigger.show:after {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}
/* 内容推荐 end */

/* 内容推荐 - 运营位 start */
.com-recommend-adpanel {
	display: block;
	padding-top: 26.08695652%;
	background-size: cover;
	background-position: center center;
	font-size: 0;
}
/* 内容推荐 - 运营位 end */

/* 无序列表 start */
.com-disorder-list > li {
	border-bottom: 1px solid #ebebeb;
}
.com-disorder-list a {
	position: relative;
	display: block;
	padding: 15px;
	color: #333;
	font-weight: 500;
	line-height: 24px;
	font-size: 14px;
}
.com-disorder-list .desc-text {
	margin-top: 12px;
	font-size: 12px;
	line-height: 1.5;
	color: #666;
}
/* 无序列表 end */
