@charset "UTF-8";
.com-featured {
  padding: 15px 0;
  margin: 0;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #ebebeb;
  display: block;
  /* overflow-y: hidden;
  overflow-x: auto; */
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
}
.com-featured.gap {
	margin-top: 10px;
	border-top-width: 1px;
}
.com-featured::-webkit-scrollbar {display:none}
.com-featured-list {
  word-wrap: break-word;
  white-space: nowrap;
  font-size: 0;
  -webkit-text-size-adjust:none;
}
.com-featured-item {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 157.5px;
  height: 80px;
  font-size: 14px;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 4px;
}
.com-featured-item:first-of-type {
  margin-left: 15px;
}
.com-featured-item-inner {
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  width: 100%; height: 100%;
  background-color: #23283c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-image:-webkit-linear-gradient(to bottom right, #3c4155, #1d233b);
  background-image:linear-gradient(to bottom right,#3c4155, #1d233b); */
  background: url(./img/index/adbg2@2x.jpg) center no-repeat;
  background-size: cover;
  background-position: left center;
  -webkit-transition: -webkit-box-shadow .2s ease, -webkit-transform .2s ease;
  transition: -webkit-box-shadow .2s ease, -webkit-transform .2s ease;
  transition: box-shadow .2s ease, transform .2s ease;
  transition: box-shadow .2s ease, transform .2s ease, -webkit-box-shadow .2s ease, -webkit-transform .2s ease;
}
.com-featured-item:nth-of-type(2) .com-featured-item-inner {
  background: url(./img/index/adbg3@2x.jpg) center no-repeat;
  /* background-size: 380px 80px; */
  background-size: cover;
  background-position: right center;
}
.com-featured-item-inner img {
  width: 100%;
}
.com-featured-item img {
  display: block;
}
.com-featured-item-inner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
	z-index: 1;
    width: 100%;
    height: 100%;
    background: url('img/featured-mask.png') repeat;
}
.com-featured-item p {
    position: relative;
    z-index: 2;
  white-space: normal;
  color: #fff;
  line-height: 1.36;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.com-article-list {
	border-top: 1px solid #ebebeb;
  /* background-color: #fff; */
  /* border-style: solid;
  border-width: 1px 0 0;
  border-color: #ebebeb; */
  /* margin-top: 15px; */
}
.com-article-list + .com-article-list {
    border-top: none;
}
.com-article-list ul {
  background-color: #fff;
  display: block;
}
.com-article-list li {
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  padding: 15px;
}
.com-article-list li > a {
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.com-article-list-content {
  display: table-cell;
  vertical-align: top;
}
.com-article-list-content .opt-status {
	position: absolute;
	right: 0;
	top: 0;
	color: #00a4ff;
}
.com-article-list-content .opt-status.finished {
	color: #999;
}

.com-article-list-image {
  width: 90px; height: 90px;
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;

}
.com-thumb-img {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.com-article-list-image a {
  display: block;
  width: 90px;
  height: 90px;
  overflow: hidden;
  background-color: #d8d8d8;
}
.com-article-list-image img {
  width: 100%;
}

.com-article-list-content p,.com-article-list-content p a {
  color: #999;
  /* word-wrap: break-word; */
  word-break: break-all;
  font-size: 14px;
  line-height: 1.6;
}
.com-article-list-content p a {
  color: #666;
  margin-left: 6px;
}
.com-column-home-list .com-article-list-content p a{
  margin: 0;
}
.com-dynamic-module .com-article-list-content p a {
  color: #666;
  /* margin-left: 0; */
}
.com-article-list-content p {
	display: block;
  /* padding-top: 15px; */
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
}
.com-article-list-content p.has-status {
	box-sizing: border-box;
	padding-right: 50px;
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	position: relative;
}
.com-dynamic-module .com-article-list-content p {
  padding-bottom: 0;
}
.com-article-list-content h3 {
  padding-bottom: 15px;
}
.com-article-list-content h3,.com-article-list-content h3 a {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 1.6;
  /* word-wrap: break-word; */
  text-overflow: ellipsis;
  word-break: break-all;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.com-article-operations {
  padding-top: 15px;
  font-size: 0;
}
.com-article-opt-link {
  display: inline-block;
  vertical-align: middle;
  color: #b2b2b2;
  font-size: 12px;
  margin-right: 10px;
}
.com-article-i-view {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-color: #212121;
}
.com-article-opt-link .text{
  color: #b2b2b2;
  font-size: 12px;
  margin-left: 5px;
}
.com-article-i-like {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-color: #212121;
}
.com-article-list-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  overflow: hidden;
}
.com-article-list-desc,.com-article-list-content .com-article-list-desc {
  padding: 5px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
}

.com-article-operations.approve-opts {
	position: relative;
	padding-top: 0;
	padding-right: 110px;
	margin-bottom: 15px;
	line-height: 22px;
}
.com-article-operations.approve-opts .column-name {
	margin-right: 0;
	max-width: 8em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.com-article-operations.approve-opts .extra-part {
	position: absolute;
	right: 0;
	top: 0;
}
.com-article-operations.approve-opts .c-btn {
	margin-left: 10px;
	padding: 0 10px;
	min-width: 0;
	height: 22px;
	line-height: 20px;
	font-size: 12px;
}
/* .com-article-list {
  min-height: 101%;
} */
@media (max-width: 320px) {

  /* .com-featured-item {
    width: 137.5px;
  } */
}
