@font-face {
    font-family: 'Roboto-Thin';
    src: url('./Roboto-Thin.woff') format('woff'),
         url('./Roboto-Thin.ttf') format('ttf');
}

.hello {
    color: red;
    background: url('./icon.png') no-repeat;
    font-family: 'Roboto-Thin';
}