@charset "UTF-8";

.com-header {
  /* position: relative; */
  box-sizing: border-box;
  padding: 0 15px;
  min-width: 320px;
  height: 56px;
  line-height: 56px;
  background-color: #fff;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #d9d9d9;
  text-align: center;
  position: absolute;
  left: 0; top: 0; right: 0;
  z-index: auto;
}
.com-header .header-title {
  /* display: block; */
  color: #000;
  vertical-align: middle;
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 40px;
}
.com-header .logo {
  color: #000;
  font-size: 16px;
  display: inline-block;
}
.com-special-header .logo {
  width: 100px;
  height: 25px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url(./img/slice/logo.svg);
  /* background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%; */
}
.com-header .logo .header-title {
  color: #000;
  display: inline-block;
  text-overflow: initial;
  white-space: initial;
  margin: 0;
  font-weight: 600;
}
.com-special-header .logo .header-title {
  display: none;
}
.com-header .logo-icon {
  display: none;
  width: 21px; height: 14.9px;
  vertical-align: middle;
  background-color: #212121;
  display: none;
}
.com-header .header-extra {
  position: absolute;
  right: 20px;
  top: 0;
}
.com-header .header-extra a {
  color: #00a4ff;
  font-size: 14px;
}
.com-header .header-back {
  display: inline-block;
  text-align: center;
  padding: 0 15px;
  position: absolute;
  left: 5px;
  top: 0;
}
.com-header .header-back-icon {
  width: 9px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(./img/slice/icon-prev.svg);
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-size: 100%;
}
.com-header .header-home-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(./img/slice/menu-home.svg);
}
.com-header .header-extra-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  /* background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%; */
}
.com-header .header-extra-icon + .header-extra-icon {
	margin-left: 20px;
}
.com-header .header-extra-icon.ask {
	width: 24px;
	height: 24px;
	background-image: url('img/slice/header-ask.svg?fill=#666');
}
.com-header .search-entry {
  background-image: url(./img/slice/search-icon.svg);
}
.com-header .com-dropdown-menu .menu-link {
	color: #444;
}

.com-special-header {
  text-align: left;
}
.com-special-header .header-back {
  display: none
}
.com-special-header .logo-icon{
  /* display: inline-block;
  display: none; */
}
.com-header .header-extra-back {
  position: absolute;
  left: 20px;
  top: 0;
}
.com-header .header-extra-back a {
  color: #00a4ff;
  font-size: 14px;
}
